# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Virtual Environment
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Output
output/
*.csv

# Testing
.pytest_cache/
.mypy_cache/

# Environment
.env